# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.awcache/*
/.cache-loader/*
build/
/.pnp
.pnp.js

######################
# IntelliJ
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Mac OSX
######################
.DS_Store
.svn

# Exclude git history and configuration.
.git
.gitignore
README.md
HELP.md
LICENSE

# Exclude "build-time" ignore files.
.dockerignore
.gcloudignore

######################
# Code coverage
######################
/coverage/
/.nyc_output/
.scannerwork

